@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  color:whitesmoke;
}

.parallax-height {
  height: 700px !important;
}

.containerHome{
  position: absolute;
  display:flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
  z-index: 100;
  width: 100%;
}
.containerHome h1{
  color:whitesmoke;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-size: 5rem;
}
.containerHome h2{
  color:  rgb(196, 21, 21);
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5rem;
}
